<app-menu></app-menu>
<div class="main">
    <app-menuguest></app-menuguest>
    <div class="container">
        <div *ngIf="screenWidth >= 992">
            <div class="row">
                <div class="col-lg-7">
                    <div class="rectangle-frame1">
                        <app-datatable></app-datatable>
                    </div>
                </div>
                <div class="col-lg-5"> 
                    <div class="rectangle-frame" [ngClass]="{ 'error-state': guestForm.invalid && guestForm.dirty }">
                        <div class="text_p">
                            Внесення нового гостя
                        </div>	
                    
                        <form [formGroup]="guestForm" (ngSubmit)="submitGuest()">
                        
                            <label class="form-label" for="nameg">Введіть ім'я та прізвище гостя:</label>
                            <input formControlName="nameg" type="text" id="nameg" name="nameg"/>
                            <p *ngIf="guestForm.get('nameg')?.invalid && guestForm.get('nameg')?.dirty" class="error-message">
                                Введіть ім'я ще раз!
                            </p> 
                    
                            <label class="form-label" for="namem">Введіть ім'я та прізвище мешканця:</label>
                            <input formControlName="namem" type="text" id="namem" name="namem"/>
                            <p *ngIf="guestForm.get('namem')?.invalid && guestForm.get('namem')?.dirty" class="error-message">
                                Введіть ім'я ще раз!
                            </p> 
                    
                            <label class="form-label" for="ID">Введіть номер телефона гостя:</label> 
                            <input formControlName="ID" type="text" id="ID" name="ID"> 
                            <p *ngIf="guestForm.get('ID')?.invalid && guestForm.get('ID')?.dirty" class="error-message">
                                Введіть номер телефона ще раз!
                            </p>
                            
                            <button class="bg">Готово</button>
                            
                        </form>                    
                    </div>
                </div>
            </div>
        </div>
    
        <div *ngIf="screenWidth < 992">
            <div class="row">
                <div class="col">
                    <div class="rectangle-frame1">
                        <app-guesttable></app-guesttable>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"> 
                        <div class="rectangle-frame" [ngClass]="{ 'error-state': guestForm.invalid && guestForm.dirty }" style="margin-top: 60px;">
                            <div class="text_p">
                                Внесення нового гостя
                            </div>	
                        
                            <form [formGroup]="guestForm" (ngSubmit)="submitGuest()">
                            
                                <label class="form-label" for="nameg">Введіть ім'я та прізвище гостя:</label>
                                <input formControlName="nameg" type="text" id="nameg" name="nameg"/>
                                <p *ngIf="guestForm.get('nameg')?.invalid && guestForm.get('nameg')?.dirty" class="error-message">
                                    Введіть ім'я ще раз!
                                </p> 
                        
                                <label class="form-label" for="namem">Введіть ім'я та прізвище мешканця:</label>
                                <input formControlName="namem" type="text" id="namem" name="namem"/>
                                <p *ngIf="guestForm.get('namem')?.invalid && guestForm.get('namem')?.dirty" class="error-message">
                                    Введіть ім'я ще раз!
                                </p> 
                        
                                <label class="form-label" for="ID">Введіть номер телефона гостя:</label> 
                                <input formControlName="ID" type="text" id="ID" name="ID"> 
                                <p *ngIf="guestForm.get('ID')?.invalid && guestForm.get('ID')?.dirty" class="error-message">
                                    Введіть номер телефона ще раз!
                                </p>
                                
                                <button class="bg">Готово</button>
                                
                            </form>                    
                        </div>
                    
                </div>
            </div>
        </div>           
    </div>
    
</div>



