<app-menu></app-menu>
<div class="main">
    
    <div class="text1">
    Станом на {{message2}} рік, у гуртожитку 16 гостей
    </div>	
        
    <div class="t">
        <table class="clickable-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th> ПІБ гостя</th>
                    <th>Кімната <a href="#" class="text-decoration-none"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-sort-numeric-down" viewBox="0 0 16 16">
                        <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z"/>
                        <path fill-rule="evenodd" d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98"/>
                        <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293z"/>
                      </svg></a> 
                    </th>
                    <th>ПІБ мешк <a href="#" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371zm1.57-.785L11 2.687h-.047l-.652 2.157z"/>
                            <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293z"/>
                        </svg>
                    </a> </th>
                    <th>ID мешканця</th>
                    <th>Час</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of data; let i = index  ">
                <td>{{i+1}}</td>
                <td>{{item.nameg}}</td>
                <td>{{item.room}}</td>
                <td><a routerLink="/prh" class="text-decoration-none">
                    {{item.namem}}
                </a></td>
                <td>{{item.id}}</td>
                <td>{{item.time}}</td>
                <td><a href="#" class="text-decoration-none">
                    Видалити
                </a></td>
            </tr>
            </tbody>
        </table> 
    </div>

    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="rectangle-frame1">
                    <div class="text_p">
                        Внесення нового гостя
                    </div>	
                    <form (ngSubmit)="onSubmit()">
                        <input type="text" name="nameg" required [(ngModel)]="nameg" placeholder="Введіть ім'я та прізвище гостя">
                        <input type="text" name="namem" required [(ngModel)]="namem" placeholder="Введіть ім'я та прізвище мешканця">	
                        <input type="number" name="room" min="101" required [(ngModel)]="room"  placeholder="Введіть номер кімнати">
                        <input type="text" name="id" required [(ngModel)]="id" placeholder="Введіть ID мешканця">
                        <input type="time" name="namem" required [(ngModel)]="time" placeholder="Введіть годину">
                        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
                        <button type="submit" class="bg">Готово</button>
                    </form>
                                    
                </div>
            </div>
        </div> 
    </div>
    
  
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" routerLink="/data" aria-label="Назад">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" routerLink="/data">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/data">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/data">3</a></li>
          <li class="page-item">
            <a class="page-link" routerLink="/data" aria-label="Далі">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>  
</div>

