header {
    position: fixed;
    top: 0; /* установите верхнюю границу контейнера вверху страницы */
    background-color: #BBDEFF;
    width: 100%;
    height: 70px;
    z-index: 1000; /* установите z-index, чтобы контейнер header был поверх остального контента */
}

.main {
    margin-top: 70px; /* компенсируем высоту header, чтобы содержимое не скрывалось за ним */
}

.logo{
    margin-left: -35px;
    margin-top: 10px;
    height: 70px;
    width: 210px;
}

.rectangle-frame {
    background-color: #BBDEFF;
    height: 70px; 
    display: flex;
    align-items: center; 
    margin-left: -75px; 
}

.rectangle-frame .myButton {
    background-color: #BBDEFF; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    cursor: pointer;
    color: black;
    width: 100px;
    margin-left: 40px;
}

.rectangle-frame .myButton:hover {
    text-decoration: underline; 
}

.header_user{
    position: absolute; /* используйте absolute вместо float:right */
    right: 60px; 
    top: 0; /* установите верхнюю границу контейнера вверху страницы */
    height: 70px; /* установите высоту, чтобы соответствовать header */
    display: flex;
    align-items: center; /* выравнивание по вертикали */
}

.dropdown {
    background-color: #BBDEFF; 
    padding: 4px;
}

.dropdown p {
    margin: 0; 
    font-size: 12px; 
    color: #837979; 
}

p{
    font-size: 13px; 
    color: #837979; 
    font-weight: 600;
}

.dropstart b {
    margin-right: 10px;
}
