*{font-family: 'Noto Sans';}
.main {
    background-color: #eefbff;
    width: 100%;
    height: calc(100% - 70px);
    position: fixed; 
    top: 70px; 
    overflow-y: auto;
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .main {
        height: calc(100% - 50px); 
    }
}

/* --------------------------------------------------- */

.text1{
    height: 80px;
    width: 1300px;
    margin-left: 53px;
    padding-top: 30px;
    font-size: 18px; 
    font-weight: 700;
}

.bg {
    float: right;
    background-color: #BBDEFF;
    font-size: 16px; 
    font-weight: 700;
    color: black;
    padding-right: 0px;
    text-align: center;
    margin-top: -0px;
    margin-right: -80px;
    cursor: pointer;
    border-radius: 10px;
    width: 185px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray; 
}

.bg:hover {
    background: linear-gradient(to bottom,#85c5ff, #cdd9ff, #ffff);
}


/* --------------------------------------------------- */

.clickable-table {
    width: 1390px;
    margin-left: 45px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #eefbff;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 25px;
    border: none;
}

.clickable-table td {
    padding: 15px; 
    text-align: center;
    border-bottom: 2px solid #BBDEFF;
    width: 25px;
    height: 60px;
}
  
.clickable-table th {
    background-color: #BBDEFF;
    text-align: center;
    color: #837979;
    width: 25px;
}

.clickable-table tbody tr:hover {
    background-color: #BBDEFF;
    transition: background-color 0.3s;
}

.text-decoration-none{
    color:black;
}

.pagination {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    width: 100%;
    z-index: 999;
    margin-top: 50px; 
    height: 40px;
    padding-top: 20px;
}

.page-item {
    display: inline-block; 
}

.page-link {
    color: gray;
    font-size: 13px;
    font-weight: 500;
    background-color: #eefbff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 2px;
}

.page-link:hover {
    color: gray;
    text-decoration: none;
    background-color: #d6e6ff;
}
