<div class="wrapper">
    <div class="header">
        <img src="assets/icons/Group 1.png" class="logo">
    </div>
    <form [formGroup]="signForm" (ngSubmit)="submitLogin()">
        <label class="form-label" for="email">Email:</label>
        <input formControlName="email" type="email" id="email" name="email"/>
        <p *ngIf="signForm.get('email')?.invalid && signForm.get('email')?.touched"><small class="text-danger">Введіть емайл ще раз!</small></p> 

        <label class="form-label" for="identificationCode">Пароль:</label> 
        <input formControlName="identificationCode" type="text" id="identificationCode" name="identificationCode"> 
        <p *ngIf="signForm.get('identificationCode')?.invalid && signForm.get('identificationCode')?.touched"><small class="text-danger">Пароль має бути не менше 8 символів!</small></p> 

        <button type="submit">Вхід</button>
    </form>
</div>
