<app-header></app-header>

<div class="main">

    <app-menu></app-menu>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="rectangle-frame1">
                    <div class="fn">
                        <img src="assets/icons/Puss_in_Boots_2.jpg" class="cat">
                        <p class="data">Особиста інформація:<br></p>
                        <p class="name">Вчоботах <br> Кіт Шрекович</p>
                    </div>

                    <p class="number1">Номер телефона:</p>
                    <p class="number2">+3806874521963</p>

                    <p class="number1">Email:</p>
                    <p class="number2">kit.vchobotach.pm&#64;lpnu.ua</p>

                    <p class="number1">Інститут:</p>
                    <p class="number2">ІМФН</p>

                    <p class="number1">Група:</p>
                    <p class="number2">ПМ, 2 курс</p>
                        
                </div>
            </div>
                
            <div class="col-md-6">
                <div class="rectangle-frame2">
                    <p class="data2">Інформація про мешканця:<br></p>

                    <p class="number11">ID:</p>
                    <p class="number22">КT 18769624</p>
                    <p class="number11">Кімната:</p>
                    <p class="number22">402</p>
                    <p class="number11">Перепустка дійсна до:</p>
                    <p class="number22">24.03.2024 р.</p><br>

                    <p class="number11">Остання оплата за житло:</p>
                    <p class="number22">24.09.2023 р.</p>
                    <p class="number11">Заборгованність:</p>
                    <p class="number22">Так</p><br>

                    <p class="number11">Гісті:</p>
                    <p class="number22">Ні</p>
                    <p class="number11">Заяви:</p>
                    <p class="number22">Ні<br></p>

                </div>
            </div> 
        </div>
    </div> 
</div> 