
.main {
    width: 100%;
    height: calc(100% - 99px); 
    position: fixed;
    top: 99px; 
    overflow-y: auto; 
    background: linear-gradient(to bottom right, #DFF9FF, #c8e1ff)
}

@media screen and (max-width: 768px) {
    .main {
        height: calc(100% - 50px); 
    }
}

.rectangle-frame1 {
    width: 660px;
    height: 500px;
    border-radius: 10px;
    background-color: #b0d7fc;
    padding-left: 32px;
    margin-top: 75px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #BBDEFF; 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
} 

.cat{
    float: left;
    margin-left: -px;
    height: 170px;
    width: 160px;
    border-radius: 10px;
    margin-top: 20px;
}

.data{
    font-size: 13px; 
    color: #837979; 
    font-weight: 700;
    padding-top: 20px;
    padding-left: 190px;
}

.name{ 
    font-size: 25px; 
    color: #000; 
    font-weight: 700;
    padding-top: 0px;
    padding-left: 190px;
}

.fn{
    margin-top: 1px;
    height: 205px;
    width: 450px;
}

.number1{
    font-size: 16px; 
    color: #837979; 
    font-weight: 700;
    margin-left: 0px;
    margin-bottom: 10px;
}

.number2{
    font-size: 16px; 
    color: #000000; 
    font-weight: 700;
    margin-left: 260px;
    margin-top: -37px;
    margin-bottom: 0px;
}

/* --------------------------------------------------- */

.number11{
    font-size: 16px; 
    color: #837979; 
    font-weight: 700;
    margin-bottom: 10px; 
}

.number22{
    font-size: 16px; 
    color: #000000; 
    font-weight: 700;
    margin-left: 260px;
    margin-top: -37px;
    margin-bottom: 0px;
}
