*{font-family: system-ui;}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #90CAFF;
    height: 14%;
}

.logo{
    float: left;
    margin-left: 45px;
    margin-top: 20px;
    height: 80px;
    width: 250px;
}

.header_user{
    float:right;
    margin-right: 25px;
    padding: 20px; 
    margin-top: 5px;
}

.dropdown {
    background-color: #90CAFF; 
    padding: 4px;
    margin: 1px 0;
    margin-left: 20px;
    height: 15%;
} 

.dropdown p {
    margin: 0; 
    font-size: 12px; 
    color: #837979; 
    margin-bottom: 0px;
}

p{
    font-size: 13px; 
    color: #837979; 
    font-weight: 600;
}

.dropstart b {
    margin-right: 10px;
}

