<header>
    <img src="assets/icons/Group 1.png" class="logo">
    <div class="header_user">
        <div class="dropdown">
                <p>Ви увійшли як:</p>
                <div class="btn-group dropstart">
                    <div id="clickableText"><b>Королева Ліліан</b></div>
                </div> 
        </div>
    </div>
</header>

<div class="main">
    <div class="container">
        <div class="row">
        
            <div class="col-md-6">
                <button class="rectangle-frame1">
                    <h4>База даних мешканців</h4>
                </button>
            </div>
                
            <div class="col-md-6">
                <button class="rectangle-frame2">
                    <h4>Пошук мешканців</h4>
                </button>
            </div>

        </div>
    </div>



    <div class="container">
        <div class="row">
        
            <div class="col-md-6">
            <button class="rectangle-frame1">
                <h4>Заяви</h4>
            </button>
            </div>
            
            <div class="col-md-6">
            <button class="rectangle-frame2">
                <h4>Гості</h4>
            </button>
            </div>
        
        </div>
    </div>
        


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="rectangle-frame3">
                    <h4>Сканер</h4>
                </button>
            </div>
        </div>
    </div>


</div> 
