<app-menu></app-menu>
<div class="main">
    <app-menudata></app-menudata>
    <div class="container">
        <div *ngIf="screenWidth >= 992">
            <div class="row">
                <div class="col-lg-7">
                    <div class="rectangle-frame1">
                        <app-datatable></app-datatable>
                    </div>
                </div>
                <div class="col-lg-5"> 
                        <div [ngClass]="{'rectangle-frame': true, 'normal-size': !searchForm.value || searchForm.invalid, 'expanded-size': searchForm.value && !searchForm.invalid}">
                            <div class="text_p">
                                Пошук мешканця
                            </div>	
                        <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
                            
                            <label class="form-label" for="name">Введіть ім'я та прізвище:</label>
                            <input formControlName="name" type="text" id="name" name="name"/>
                            <p *ngIf="searchForm.get('name')?.invalid && searchForm.get('name')?.dirty"><small class="text-danger">Введіть ім'я ще раз!</small></p> 
        
                            <label class="form-label" for="ID">Або введіть ідентифікаційний код:</label> 
                            <input formControlName="ID" type="text" id="ID" name="ID"> 
                            <p *ngIf="searchForm.get('ID')?.invalid && searchForm.get('ID')?.dirty"><small class="text-danger">Введіть ідентифікаційний код ще раз!</small></p>
                            
                            <label class="form-label" for="room">Або введіть кімнату:</label> 
                            <input formControlName="room" type="number" id="room" name="room"> 
                            <p *ngIf="searchForm.get('room')?.invalid && searchForm.get('room')?.dirty"><small class="text-danger">Введіть кімнату ще раз!</small></p> 
                           
                            <button class="bg">Знайти</button>
                            
                        </form>
                        <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
                        
                        </div>
                </div>
            </div>
        </div>
    
        <div *ngIf="screenWidth < 992">
            <div class="row">
                <div class="col">
                    <div class="rectangle-frame1">
                        <app-datatable></app-datatable>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"> 
                    <div [ngClass]="{'rectangle-frame': true, 'normal-size': !searchForm.value || searchForm.invalid, 'expanded-size': searchForm.value && !searchForm.invalid}" style="margin-top: 60px;">
                        <div class="text_p">
                            Пошук мешканця
                        </div>	
                    <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
                        
                        <label class="form-label" for="name">Введіть ім'я та прізвище:</label>
                        <input formControlName="name" type="text" id="name" name="name"/>
                        <p *ngIf="searchForm.get('name')?.invalid && searchForm.get('name')?.dirty"><small class="text-danger">Введіть ім'я ще раз!</small></p> 
    
                        <label class="form-label" for="ID">Або введіть ідентифікаційний код:</label> 
                        <input formControlName="ID" type="text" id="ID" name="ID"> 
                        <p *ngIf="searchForm.get('ID')?.invalid && searchForm.get('ID')?.dirty"><small class="text-danger">Введіть ідентифікаційний код ще раз!</small></p>
                        
                        <label class="form-label" for="room">Або введіть кімнату:</label> 
                        <input formControlName="room" type="number" id="room" name="room"> 
                        <p *ngIf="searchForm.get('room')?.invalid && searchForm.get('room')?.dirty"><small class="text-danger">Введіть кімнату ще раз!</small></p> 
                       
                        <button class="bg">Знайти</button>
                        
                    </form>
                    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
                    
                    </div>
                </div>
            </div>
        </div>           
    </div>
    
</div>


